:root {
  --knz-font-sans: "Inter", sans-serif;
  --knz-font-mono: consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", courier, monospace;
  --knz-font-serif: "Source Serif 4", serif;
}
