.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.banner-text {
  color: transparent;
  font-weight: bold;
  font-size: 100px;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
}
