:root {
  --knz-font-sans: 'Inter', sans-serif;
  --knz-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
  --knz-font-serif: 'Source Serif 4', serif;
}
